<div class="signup-box">
    <h2>Sign Up</h2>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" #emailsignup>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" #passwordsignup>
    </div>
    <button (click)="onSignup(emailsignup.value, passwordsignup.value)">Sign Up</button>
    <div class="auth-link">
      <p>Already have an account? <a routerLink="/signin">Sign In</a></p>
    </div>
    <div *ngIf="signupError" class="error-message">{{ signupError }}</div>
  </div>
  