body {
  background: #f5f5f5;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signup-box {
  background: white;
  border-radius: 12px;
  padding: 60px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.error-message {
  color: red;
  margin-top: 10px; /* Adjust as needed */
  font-size: 14px; /* Adjust as needed */
}

.signup-box h2 {
  margin-bottom: 30px;
  color: #333;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 14px;
  background-color: #5151e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #4242c7;
}

.auth-link {
  margin-top: 25px;
}

.auth-link a {
  color: #5151e5;
  text-decoration: none;
}

.auth-link a:hover {
  text-decoration: underline;
}
