/* You can add global styles to this file, and also import other style files */
/* styles.css */
body {
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  